/*  poppins google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* css variables */
:root {
  --body-bg-color: #05043e;
  --card-primary-color: #151450;
  --card-secondary-color: #211c5c;
  --btn-bg-color: #7259db;
  --secondary-color:#7259db;
  --icon-bg-05: #f7a025;
  --icon-bg-02: #2d70ab;
  --icon-bg-03: #fe1161;
  --icon-bg-04: #0389fe;

 --text-small :1rem ;
      --text-heading :2rem ;
  
}
/*reset default browser design*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*base style*/
section{
  padding: 70px 0px;
}

body{
  font-family: 'Poppins', sans-serif; 
  background-color: var(--body-bg-color);
}
/*custom scrollbar*/
::-webkit-scrollbar{
  width: 10px;
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background: var(--card-primary-color)
}

/*header style start*/
.header{
  width: 100%;
  height: 80px;
  line-height: 80px;

}
.container{
  width: 1140px;
  margin: auto;
  padding: 0px 15px;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list{
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.navigation{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.logo h1{
  color: #fff;
}

.nav_list .nav_item a{
  color: #fff;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
}

.search_box span  i{
  color: #fff;
}

.active_nav{
  color: var(--secondary-color) !important;
}
.mobile_menu i{
color: #fff;
font-size: 1.3rem;
}
/*header style end*/

/*hero section style start*/
.hero-wrapper{
  display: flex;
  align-items: center;
}

.hero_content .hero_image{
  width: 50%;
}
.hero_content h2{
  color: #fff;
  font-size: var(--text-heading);
  line-height: 55px;
  margin-bottom: 30px;
}

.hero_content p{
  color: #fff;
  opacity: 75%;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: .9rem;
}

.btn{
  border: none;
  padding: 12px 35px;
  background: var(--btn-bg-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hero_image{
  text-align: right;
}
/*hero section style end*/

/*choose us section style start*/
.choose_us_top{
text-align: center;
margin-bottom: 50px;
}
.choose_us_top h2{
  color: #fff;
  font-size: var(--text-heading);
  margin-bottom: 15px;
}
.choose_us_top p{
  color: #fff;
  opacity: 75%;
}
.choose_us_wrapper{
display: flex;
align-items: center;
justify-content: space-between;
}
.choose_us_box{
width: 250px;
padding: 25px;
background: var(--card-primary-color);
border-radius: 5px;
}
.choose_image{
background:#f7a025;
width: 50px;
height: 50px;
padding: 10px;
margin-bottom: 15px;
}
.choose_image img{
  width: 100%;
  border-radius: 5px;
  
}
.choose_us_content h4{
color: #fff;
font-size: 1.1rem;
margin-bottom: 15px;
}
.choose_us_content p{
  color: #fff;
  opacity: 75%;
  font-size: .9rem;
  line-height: 30px;
}
.choose_img_box-02{
background: var(--icon-bg-02);
}
.choose_img_box-03{
background: var(--icon-bg-03);
}
.choose_img_box-04{
background: var(--icon-bg-04);
}
/*choose us section style end*/

/*offer section style end*/
.offer-wrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.offer_box{
padding: 25px;
border: 1px solid var(--card-secondary-color);
width: 210px;
text-align: center;
}
.offer_box h4{
  color: #fff;
 margin-top: 15px;
 font-weight: 500;
}

.offer_box_01{
  background: var(--card-secondary-color);
  border-radius: 5px;
  position: relative;
}
.offer_box_01::after{
  content: '';
  width: 25px;
  height: 25px;
  background: var(--card-secondary-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: rotate(45deg);
}
/*offer section style end*/

/*search engine section style start*/
.search_engine_wrapper{
display: flex;
background-color: var(--card-secondary-color);
padding: 30px;
border-radius: 5px;
justify-content: space-between;
}
.search_engine_img{
  width: 45%;
}
.search_engine_img img{
width: 100%;
}
.search_engine_content{
width: 50%;
}
.search_engine_content h2{
  color: #fff;
  font-size: var(--text-heading);
  margin-bottom: 20px;
}
.search_engine_content p{
  color: #fff;
  opacity: 75%;
  font-size: var(--text-small);
  line-height: 30px;
}
.search_engine_text02{
  margin-top: 20px;
  margin-bottom: 30px;
}
/*search engine section style end*/

/*counter section style end*/
.counter_wrapper{
  background: var(--card-secondary-color);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.counter_item
.counter_number{
  font-size: 3rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.counter_text{
  color: #fff;
  font-size: var(--text-small);
  font-weight: 400;
  opacity: 75%;
}
/*counter section style end*/

/*about us section style end*/
.about_us{
  background: transparent !important;
  padding: 0px !important;
  align-items: center;
}
.about_us_text{
color:var(--secondary-color) !important;
margin-bottom: 15px;
font-size: .9rem;
font-weight: 600;
}
/*about us section style end*/

/*customer review section style start*/
.customer_review-wrapper{}
.customer-review-top{
  text-align: center;
}
.customer-review-top h2{
  font-size: var(--text-heading);
  color: #fff;
  margin-bottom: 10px;
}
.customer-review-top p{
  color: #fff;
  opacity: 75%;
  line-height: 30px;
  margin-bottom: 40px;
}
.customer_review-wrapper{
  width: 60%;
  margin: auto;
}
.slider
.slider_img_wrapper{
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.slider_img_wrapper img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.slider_content{
  text-align: center;
}
.rating{
  margin-top: 30px;
  margin-bottom: 20px;
}
.rating span i{
  color: #f7a025;
  font-size: 1.4rem;
}
.review_text{
  color: #fff;
  opacity: 75%;
  line-height: 30px;
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.customer_name{
  font-size: var(--text-small);
  color:var(--secondary-color);
  font-weight: 600;
}
.customer_title{
  color: #fff;
  opacity: 75%;
  font-size: 0.9rem;
}
/*customer review section style end*/

/*our team section style start*/
.our_team_wrapper
.our_team_top{
  text-align: center;
}
.our_team_top h2{
  font-size: var(--text-heading);
  color: #fff;
  margin-bottom: 10px;
}
.our_team_top p{
  color: #fff;
  opacity: 75%;
  line-height: 30px;
  margin-bottom: 40px;
}
.single_team_img{
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}
.single_team_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.single_team{
width: 250px;
padding: 30px;
background: var(--card-secondary-color);
text-align: center;
border-radius: 5px;
}
.social_icon{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_icon span i{
  color: #fff;
  opacity: 75%;
}
.single_team_content h5{
font-size: var(--text-small);
font-weight: 500;
color: var(--secondary-color);
}
.single_team_content p{
  font-size: .8rem;
  color: #fff;
  opacity: 75%;
}
.team_list{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
/*our team section style end*/

/*newsletter section style start*/
.newsletter{
  background-color: var(--card-primary-color);
  padding: 60px 40px;
  border-radius: 5px;
  text-align: center;
}
.newsletter h2{
  color: #fff;
  font-size: var(--text-heading);
  margin-bottom: 10px;
}
.newsletter p{
  color: #fff;
  opacity: 75%;
  margin-bottom: 30px;
}
.newsletter_input{
  background:#fff;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px;
  border-radius: 5px;
}
.newsletter_input input{
  border: none;
}
.newsletter_input input:focus{
  outline: none;
}
/*newsletter section style end*/

/*footer section style start*/
.footer{
  background: var(--secondary-color);
  margin-top: 50px;
  padding: 60px 0px;
}
.footer_wrapper
.footer_top{
  display: flex;
  justify-content: space-between;
}
.footer_item_01,.footer_item_02,.footer_item_03,.footer_item_04{
width: 260px;
}
.footer_item_01 h2{
color: #fff;
margin-bottom: 15px;
}
.footer_item_01 p{
color: #fff;
opacity: 75%;
font-size: 0.9rem;
line-height: 30px;
margin-bottom: 20px;
}
.footer_icon{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer_icon span i{
  color: #fff;
}
.footer_item_02 h2,
.footer_item_03 h2,
.footer_item_04 h2{
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}
.footer_item_02 p{
  color: #fff;
}
.contact-number{
  margin-top: 15px;
  font-size: .9rem;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.contact-number span i{
  opacity: 75%;
}
.quick_list{
  list-style: none;
}
.quick_list li{
  line-height: 35px;
}
.quick_list li a{
  text-decoration: none;
  color: #fff;
  opacity: 75%;
  font-weight: 400;
  font-size: .9rem;
}
.footer_bottom{
  text-align: center;
  margin-top: 30px;
}
.footer_bottom p{
  font-size: 8.rem;
  color: #fff;
  opacity: 75%;
}
/*footer section style end*/